.content {
    display: flex;
    justify-content: space-between;
}

.image {
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    width: 300px;
    height: 400px;
}